.room-leftPanel{
    width: 200px;
    overflow-y: auto;
    word-wrap: break-word;
}

.room-mainPanel{
    flex: 1;
    overflow: hidden;
}

.room-region-content{
    flex: 1;
    overflow-y: auto;
}

.room-region-form{
    border-top: 1px solid white;
    height: 26px;
    text-align: center;
}
.room-region-form-message{
    width: 80%;
}

.room-message-item{
    align-items: baseline;
}



.room-message-item-from{
  width: 70px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.room-message-item-content{
    font-size: 14px;
    width: calc(100% - 70px);
    word-wrap: break-word;
}
