
/* General Fixes */
body, html, ul {
  margin: 0;
  padding: 0;
}
ul{list-style-type: none;}
html, body, #root{
  height: 100%;
}

body{
  font-family: 'Orbitron', Helvetica, sans-serif;
}
input, button{
    font-family: inherit;
}

/* Theme color */
.primary{color: white}
.primary-bg{ background-color: #1D2025; }
.secondary-bg{  background-color: #3F2640; }

/* HELPER CLASSES */
.fullheight{ height: 100%; }
.d-flex{ display: flex; }
.c-flex{ display: flex; flex-direction: column; }
.flex-1{ flex: 1; }
.justify-content-center{ justify-content: center; }
.justify-content-around{ justify-content: space-around; }
.justify-content-between{ justify-content: space-between; }
.align-item-center{ align-items: center; }
